body {
  font-family: Arial, sans-serif;
}

header,
nav,
footer {
  background-color: rgb(186, 245, 255);
  padding: 10px;
  text-align: center;
}

main {
  margin: 10px;
}

section,
article,
aside {
  margin-bottom: 10px;
}

.navbar {
  background-color: rgb(230, 102, 123);
}
Ajoutez ici plus de styles pour embellir et différencier les sections */
